.MovieListNav_list {
    list-style-type: none;
    margin: 130px 0 0;
    padding: 0;
}

.genre {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
.MovieListNav__button-wrapper {
    margin: 0 0 0 auto;
    max-width: 180px;
}

.MovieListNav_genre-link {
    background-color: darkblue;
    color: white;
    display: block;
    font-family: var(--custom-font);
    font-size: 20px;
    margin: 0 0 8px auto;
    max-width: 60%;
    padding: 8px 16px;
    text-decoration: none;
}

.MovieListNav_genre-link:hover {
    color: #b5b3b3;
    cursor: pointer;
}

.MovieListNav_genre-link.active {
    background-color: blue;
    font-weight: bold;
    font-size: 36px;
    color:white;
    writing-mode: vertical-lr;
    text-orientation: upright;
}
  
.MovieListNav_num-movies {
    color: #fff8f0;
    display: block;
    float: right;
    font-size: 13px;
}

.MovieListNav_back-button {
    margin: 45px 20px 25px auto
}

.MovieListNav_back-button:hover {
  background-color: lightblue;
}

.add-genre-button {
    margin: 45px 20px 25px auto
}


