.Movies {
    --script-height: 158px;
    background-color: darkblue;
    color: #cacaca;
    height: var(--script-height);
    margin-bottom: 8px;
    max-width: 380px;
    padding: 8px 0 8px 8px;
    position: relative;
};

.Movies_title {
    font-family: var(--custom-font);
    font-size: 30px;
    margin: 0;
    max-width: 80%;
    min-height: 24px;
};

.Movies_info {
    color: white;
    font-size: 18px;
    position: absolute;
    padding-top: 20px;
}